@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

:root  {
    --bg-color: #C96567;
    --prim-color:#314455;
    --sec-color: white; 
    --acc-color: #97AABD;

/*  extra kleuren evt     
    #644E5B
    #9E5A63 
*/
    
}

body {
    background-color: var(--bg-color);
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-size: 1rem;
}

#containerInfoJobDag{
    min-height: 100vh;
}

.flex-info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto 1em;
    color: white;
}

.flex-info h1{
    width: 35%;
    font-size: 4em;
    text-align: end;
    overflow: hidden;
    line-height: 1.2em;
}

.flex-info2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 35%;
}

#countdown{
    display: flex;
    justify-content: space-between;
    font-size: 2.5em;    
}

#day, #hr, #min, #sec {
    font-size: 1em;
    font-weight: 600;
}

#day::after, #hr::after, #min::after, #sec::after {
    display: block;
    font-size: 1rem;
}

#day::after{ 
    content:'days';
}
#hr::after{ 
    content:'hours';
}
#min::after{ 
    content:'minutes';
}
#sec::after{ 
    content:'seconds';
}

#redirectToSignUp {
    display: inline-block;
    font-weight: 800;
    text-align: center;
    width: fit-content;
    padding: .75em 1em;
    margin: 0 1em;
    background-color: var(--acc-color);
    transition: transform 250ms ease-in-out, 
                box-shadow 250ms ease-in-out,
                background-color 250ms ease-in-out;      
}

#redirectToSignUp:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    background-color: var(--prim-color);
}

/* #redirectToSignUp:after {
    content: "\f100";
    font-family: "Font Awesome 5 Free";
} */

.info-text {
    width: 70%;
    margin: 0 auto;
    padding: 1em 2em;
    color: #314455;
    background-color: white;
    border: #314455 1px solid;
} 

.info-text h2 {
    padding: .5em 0;
    font-size: 2em;
}

.center {
    text-align: center;
    font-size: 500px;
}

.btn-container {
    align-self: flex-start;
    display: flex;
    justify-content: center;
}

.flex-info2 i {
    font-size: 3em;
}

.info-pupils{
    width: 100%;
    margin: 0 auto;
    padding: 1em 2em;
    color: #314455;
    background-color: var(--prim-color);
    border: #314455 1px solid;
    color: var(--sec-color)
}

.info-pupils h2 {
    padding: .5em 0;
    font-size: 2em;
}

#intro-pupils{
    width: 70%;
    margin: 0 auto;
}

#pupil-carousel{
    width: 100%;
}

#pupil-carousel .pupil{
    width: 25%;
    margin: 0 auto;
    margin-bottom: 1%;
}

#pupils{
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pupil{
    width: 30%;
    /* padding: 1%; */
    text-align: center;
}

.pupil img{
    width: 100%;
}

.pupil p{
    margin-top: -10%;
    color: var(--prim-color);
}

#badgescontainer {
    width: 70%;
    margin: 0 auto;
    background-color: #445564;
}

#badgescontainer h3{
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 30px;
}

#codeerbadge {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
}

.badge{
    width: 25%;
    height: 30%;
    display: flex;
    flex-direction: column;
    margin: 1%;
    position: relative;
    top: 2%
}

.badge img{
    width: 100%;
    height: 100%;
    z-index: 1;
    filter: drop-shadow(0px 0px 10px #000000);
    padding: 10px;
}

#mysql, #ionic, #angular{
    opacity: 0.1;
}

.uitleg{
    text-align: center;
    width: 100%;
    height: max-content;
    visibility: hidden;
    z-index: 2;
    color: var(--prim-color);
    background-color: #445564;
    border: 2px solid white;
    color: white;
    padding: 5%;
    margin: 5%;
    margin-top: -75%;
}
