@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

:root  {
    --bg-color: #C96567;
    --prim-color:#314455;
    --sec-color: white; 
    --acc-color: #97AABD;

/*  extra kleuren evt     
    #644E5B
    #9E5A63 
*/
    
}


body {
    background-color: var(--bg-color);
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-size: 1rem;
}

 /* section {
     min-height: 100vh;
 } */

/* .scroll-section {
    min-height: 100vh;
    scroll-snap-align: start none;
    
}

.scroll-container {
    scroll-snap-type: y proximity;
    scroll-padding-top: 49.6px;
    overflow-y: auto;
    height: 90vh;
} */


#containerInfoJobDag{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* min-height: 100vh; */
}

#countdown{
    display: flex;
    justify-content: space-between;
    font-size: 2.5em;    
}

#day, #hr, #min, #sec {
    font-size: 1em;
    font-weight: 600;
}

#day::after, #hr::after, #min::after, #sec::after {
    display: block;
    font-size: 1rem;
}

#redirectToSignUp {
    display: inline-block;
    font-weight: 800;
    text-align: center;
    color: white;
    width: fit-content;
    min-width: 100px;
    padding: .75em 1em;
    margin: 0 1em;
    border-radius: .2em;
    background-color: var(--prim-color);
    transition: transform 250ms ease-in-out, 
                box-shadow 250ms ease-in-out,
                background-color 250ms ease-in-out;      
}

#redirectToSignUp:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    background-color: var(--acc-color);
    color: white;
}

/* #redirectToSignUp:after {
    content: "\f100";
    font-family: "Font Awesome 5 Free";
} */

.info-text {
    width: 90%;
    margin: 0 auto;
    padding: 1.5em 2em 2em;
    color: #314455;
    background-color: white;
    border-radius: .2em .2em 0 0;
    /* border: #314455 1px solid; */
} 

.info-text h2 {
    padding-bottom: .5em;
    font-size: 2em;
}

.center {
    text-align: center;
    font-size: 500px;
}

.flex-info2 i {
    font-size: 3em;
}

.info-pupils{
    width: 100%;
    margin: 0 auto;
    color: #314455;
    background-color: var(--prim-color);
    color: var(--sec-color);
    padding: 1em 0 2em;
}

.info-pupils h2 {
    padding: .5em 0;
    font-size: 2em;
}

#intro-pupils{
    width: 70%;
    margin: 0 auto;
    padding: 2em 3em;
}

#pupil-carousel{
    width: 100%;
}

#pupil-carousel .pupil{
    width: 25%;
    margin: 0 auto;
}

#pupils{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pupil{
    width: 30%;
    text-align: center;
    margin: 0 0 2em;
}

.pupil img{
    width: 100%;
}

/* .pupil p{
    margin-top: -10%;
    color: var(--prim-color);
} */



#badgescontainer {
    /* width: 70%; */
    /* margin: 2em auto 0 ; */
    background-color: #445564;
    padding: 1em 0;
}

#badgescontainer h3{
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 30px;
}

#codeerbadge {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
}

.badge{
    width: 25%;
    height: 30%;
    display: flex;
    flex-direction: column;
    margin: 1%;
    position: relative;
    top: 2%;
    transition: visibility 1s ease-in-out;
}

.badge img{
    width: 100%;
    height: 100%;
    z-index: 1;
    filter: drop-shadow(0px 0px 10px #0000007a);
    padding: 10px;
}

.badge:hover {
    cursor: pointer;
}

#mysql, #ionic, #angular{
    opacity: 0.1;
}

.uitleg{
    text-align: center;
    width: 100%;
    height: 200px;
    visibility: hidden;
    z-index: 2;
    color: var(--prim-color);
    background-color: #445564;
    border: 2px solid white;
    color: white;
    padding: 5%;
    margin: 5%;
    margin-top: -100%;
}

#opleiding {
    margin-bottom: 10em;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 650px) {
    .flex-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 70%;
        margin: 5em auto 1em;
        color: white;
    }

    .flex-info h1{
        font-size: 3em;
        text-align: right;
        /* overflow: hidden; */
        line-height: 1.2em;
    }
    
    .flex-info2 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #countdown {
        display: none;
    }

    /* #day::after{ 
        content:'day';
    }
    #hr::after{ 
        content:'hr';
    }
    #min::after{ 
        content:'min';
    }
    #sec::after{ 
        content:'sec';
    } */


    .btn-container {
        align-self: center;
        display: flex;
        justify-content: center;
    }

    #pupil-carousel .pupil{
        width: 30%;
        min-width: 250px;
        margin-bottom: 2em;

    }
    
    .uitleg {
        display: none;
    }

    .badge {
        text-align: center;
        color: white;
    }

    #html::after {
    content: "html";
    }

    #css::after {
        content: "css";
    }

    #js::after {
        content: "Javascript";
    }

    #mysql::after {
    content: "MySQL";
    }

    #ionic::after {
        content: "Ionic";
    }

    #angular::after {
        content: "Angular";
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 650px) {
    .flex-info {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 70%;
        margin: 3em auto 1em;
        color: white;
    }

    .flex-info h1{
        width: 50%;
        font-size: 3em;
        /* align-self:; */
        text-align: right;
        overflow: hidden;
        line-height: 1.2em;
    }
    
    .flex-info2 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 35%;
    }

    #countdown div {
        padding: 0 .2em;
    }

    #day::after{ 
        content:'day';
    }
    #hr::after{ 
        content:'hr';
    }
    #min::after{ 
        content:'min';
    }
    #sec::after{ 
        content:'sec';
    }



    .btn-container {
        align-self: flex-start;
        display: flex;
        justify-content: center;
    }

    #pupil-carousel .pupil{
        width: 30%;
        min-width: 300px;
        margin-bottom: 2em;

    }

}

@media only screen and (min-width: 1300px) {
    .flex-info h1{
        width: 35%;
        font-size: 4em;
        /* align-self:; */
        text-align: right;
        overflow: hidden;
        line-height: 1.2em;
    }

    #day::after{ 
        content:'days';
    }
    #hr::after{ 
        content:'hours';
    }
    #min::after{ 
        content:'minutes';
    }
    #sec::after{ 
        content:'seconds';
    }

    .info-text {
        width: 70%;
        margin: 0 auto;
        padding: 3em 3em 5em;
        color: #314455;
        background-color: white;
        border-radius: .2em .2em 0 0;
        /* border: #314455 1px solid; */
    } 

    #pupil-carousel{
        width: 70%;
        margin: 0 auto;
        margin-bottom: 2em;
    }
    
    #pupil-carousel .pupil{
        width: 30%;
    }
    
    #pupils{
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .pupil{
        width: 30%;
        /* padding: 1%; */
        text-align: center;
        margin: 0 0 2em;
    }
    
    .pupil img{
        width: 100%;
    }
    
    .pupil p{
        margin-top: -10%;
        color: var(--prim-color);
    }
}